[Unit]
Description=Screen Lock on Suspend
Before=suspend.target

[Service]
User=ian
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock --nofork -c 000000

[Install]
WantedBy=suspend.target
